@using myTBsys.Models;
@{
    ViewBag.Title = "教材分发";
    Layout = "~/Areas/TBsys/Views/Shared/_Layout.cshtml";

    List<T_TB_Fenfa> lst = ViewBag.lst;
    List<T_QT_Other> lst4 = ViewBag.lst4;
    List<T_SH_Academy> lst8 = ViewBag.lst8;//学院查询
    List<T_SH_Class> lst9 = ViewBag.lst9;//班级查询

    int pageIndex = ViewBag.pageIndex;//获取当前页码
    int pageSize = ViewBag.pageSize;//获取每页数量
    int recordCount = ViewBag.recordCount;//获取总数量
    int maxPage = (int)Math.Ceiling(Convert.ToDecimal(recordCount) / Convert.ToDecimal(pageSize));//取得最大页数

    //string searchstring = ViewBag.searchstring;//查询条件
    string searchAC = ViewBag.searchAC;//查询学院
    string searchClass = ViewBag.searchClass;//查询班级
}



<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                分发表
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_length" id="dataTables-example_length">
                                <label>
                                    Show
                                    <select id="selectPageSize" onchange="window.location=this.value;" name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm">
                                        <option value="/TBsys/jiaock/Index?pageSize=4&searchAC=@searchAC&searchClass=@searchClass">4</option>
                                        <option value="/TBsys/jiaock/Index?pageSize=8&searchAC=@searchAC&searchClass=@searchClass">8</option>
                                        <option value="/TBsys/jiaock/Index?pageSize=12&searchAC=@searchAC&searchClass=@searchClass">12</option>
                                        <option value="/TBsys/jiaock/Index?pageSize=16&searchAC=@searchAC&searchClass=@searchClass">16</option>
                                    </select> entries
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            @*<form action="/TBsys/jiaock/index">
                                <div id="dataTables-example_filter" class="dataTables_filter">
                                    <label>
                                        Search:
                                        <input type="search" name="searchstring" class="form-control input-sm" placeholder="" aria-controls="dataTables-example" value="@searchstring">
                                    </label>
                                    <button type="submit" class="btn btn-default">查询</button>
                                </div>
                            </form>*@
                            <label>
                                学院:
                                <select id="selectAC" onchange="window.location=this.value;" name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm">
                                    
                                    <option value="/TBsys/jiaock/Index?pageSize=@pageSize">所有</option>
                                    @{
                                        for (int i = 0; i < lst8.Count; i++)
                                        {
                                            //学院名返回
                                            <option id="@lst8[i].Name" value="/TBsys/jiaock/Index?pageSize=@pageSize&searchAC=@lst8[i].Name">@lst8[i].Name</option>

                                        }
                                    }
                                </select>
                                班级:
                                <select id="selectClass" onchange="window.location=this.value;" name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm">
                                    
                                    <option value="/TBsys/jiaock/Index??pageSize=@pageSize&searchAC=@searchAC">所有</option>
                                    @{
                                        for (int j = 0; j < lst9.Count; j++)
                                        {
                                            if (@searchAC == lst9[j].T_SH_Major.T_SH_Department.T_SH_Academy.Name)
                                            {
                                                //班级名返回
                                                <option id="@lst9[j].Name" value="/TBsys/jiaock/Index?pageSize=@pageSize&searchAC=@searchAC&searchClass=@lst9[j].Name">@lst9[j].Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th>
                                            <a href="#">班级</a>
                                        </th>
                                        <th>
                                            <a href="#">书名</a>
                                        </th>
                                        <th>
                                            书号
                                        </th>
                                        <th>
                                            单价
                                        </th>
                                        <th>
                                            数量
                                        </th>
                                        <th>
                                            实付
                                        </th>
                                        <th>
                                            领取人学号
                                        </th>                                      
                                        <th>
                                            是否已领取                                            
                                        </th>
                                        <th>
                                            操作
                                        </th>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (T_TB_Fenfa item in lst)
                                        {
                                            <tr class="gradeA odd" role="row">
                                                <td>@item.T_SH_Class.Name</td>
                                                <td>@item.T_TB_Books.Name</td>
                                                <td>@item.BookId</td>
                                                <td>@decimal.Round(decimal.Parse(@item.T_TB_Books.Price.ToString()),2) </td>
                                                <td>@item.BookNum</td>
                                                <td>@item.RealPay </td>
                                                <td>@item.StuId</td>

                                                    @{ 
                                                        if (@item.State == 4)
                                                        {
                                                            <td>是</td>
                                                        }
                                                        if(@item.State == 2)
                                                        {
                                                            <td>否</td>
                                                        }
                                                    }

                                                <td>
                                                    <a href="/TBsys/jiaock/edit/@item.Id" class="btn btn-default">编辑</a>
                                                </td>
                                                @*<td>
                                                    <a href="/TBsys/jiaowc/delete/@item.Id" class="btn btn-default">删除</a>
                                                    <a href="/TBsys/jiaock/edit/@item.Id" class="btn btn-default">编辑</a>
                                                    
                                                </td>*@                                       
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">
                                @{
                                    if (pageIndex * pageSize < recordCount)
                                    {
                                        <div>当前显示@((pageIndex - 1) * pageSize + 1) to @((pageIndex) * pageSize) of @recordCount 记录</div>
                                    }
                                    else
                                    {
                                        <div>当前显示@((pageIndex - 1) * pageSize + 1) to @recordCount of @recordCount 记录</div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button previous" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                                        <a href="/TBsys/jiaock/index?pageIndex=@((pageIndex - 1) <= 0 ? 1 : (pageIndex - 1))&searchAC=@searchAC&searchClass=@searchClass&pageSize=@pageSize">Previous</a>
                                    </li>

                                    @for (int i = 1; i <= maxPage; i++)
                                    {
                                        if (i == pageIndex)
                                        {
                                            <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                                                <a href="/TBsys/jiaock/index?pageIndex=@i)&searchAC=@searchAC&searchClass=@searchClass&pageSize=@pageSize">@i</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                                                <a href="/TBsys/jiaock/index?pageIndex=@i&searchAC=@searchAC&searchClass=@searchClass&pageSize=@pageSize">@i</a>
                                            </li>
                                        }
                                    }

                                    <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
                                        <a href="/TBsys/jiaock/index?pageIndex=@((pageIndex + 1) > maxPage ? maxPage : (pageIndex + 1))&searchAC=@searchAC&searchClass=@searchClass&pageSize=@pageSize">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<script type="text/javascript">
    @*function f() {
        $("#selectPageSize").val("/TBsys/jiaock/index?pageSize="+@pageSize);
    }*@

    window.onload=function(){
        //alert("111");
        document.getElementById("selectPageSize")[(@pageSize/4)-1].selected=true;
        document.getElementById("@searchAC").selected=true;
        document.getElementById("@searchClass").selected=true;
    }
</script>
