@using myTBsys.Models;
@{
    ViewBag.Title = "后台——时间设置";
    Layout = "~/Areas/TBsys/Views/Shared/_TeachingOffice.cshtml";
    List<T_QT_Other> lst = ViewBag.lst;
    int staticId = 1;
    int result = (int)Session["result"];
}

<div class="panel panel-default">
    <div class="panel-heading">时间设置</div>
    <div class="panel-body">
        <ul class="list-group">

            <li class="list-group-item">
                <form action="/TBsys/TeachingOffice/editBITime" method="post" >
                    <h4><strong>教材录入时间：</strong></h4>
                    
                        @{
                            foreach (T_QT_Other item in lst)
                            {
                                if (item.Id == staticId)
                                {
                                    //类型转换
                                    DateTime bIStTime = (DateTime)@item.BIStTime;
                                    String biStTime = string.Format("{0:yyyy/MM/dd}", bIStTime);
                                    DateTime bIEnTime = (DateTime)@item.BIEnTime;
                                    String biEnTime = string.Format("{0:yyyy/MM/dd}", bIEnTime);
                                    <div class="form-group">
                                        <label for="exampleInputName2">起始时间：</label>
                                        <input type="hidden" id="Id" name="Id" value="@item.Id" />
                                        <div class='input-group date' id='form_datetime'style="width:300px">
                                            <input type='text' id="BIStTime" class="form-control" name="BIStTime"value="@biStTime"/>
                                            <span class="input-group-addon" >
                                                <span class="glyphicon glyphicon-time" ></span>
                                            </span>
                                        </div>  
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail2">截止时间：</label>
                                        <div class='input-group date' id='form_datetime2' style="width:300px">
                                            <input type='text' id="BIEnTime" class="form-control"name="BIEnTime" value="@biEnTime" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div> 
                                    </div>
                                }
                            }
                        }                 
                    <button type="submit" class="btn btn-default" onclick="result1(this)" >提交</button>
                </form>
            </li>

            <li class="list-group-item">
                <form action="/TBsys/TeachingOffice/editCKTime" method="post">
                    <h4><strong>系主任审核时间：</strong></h4>
                    @{
                        foreach (T_QT_Other item in lst)
                        {
                            if (item.Id == staticId)
                            {
                                DateTime cKStTime = (DateTime)@item.CKStTime;                       //类型转换
                                String ckStTime = string.Format("{0:yyyy/MM/dd}", cKStTime);
                                DateTime cKEnTime = (DateTime)@item.CKEnTime;
                                String ckEnTime = string.Format("{0:yyyy/MM/dd}", cKEnTime);
                                <div class="form-group">
                                    <label for="exampleInputName2">起始时间：</label>
                                    <input type="hidden" id="Id" name="Id" value="@item.Id" />
                                    <div class='input-group date' id='form_datetime3' style="width:300px">
                                        <input type='text' id="CKStTime" class="form-control" name="CKStTime" value="@ckStTime" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>  
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail2">截止时间：</label>
                                    <div class='input-group date' id='form_datetime4' style="width:300px">
                                        <input type='text'id="CKEnTime" class="form-control" name="CKEnTime" value="@ckEnTime" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>  
                                </div>
                                }
                            }
                        }
                        
                                       
                    <button type="submit" class="btn btn-default" onclick="result2(this)">提交</button>
                </form>
            </li>
            
            <li class="list-group-item">
                <form action="/TBsys/TeachingOffice/editCBTime" method="post">
                    <h4><strong>教材订购时间：</strong></h4>
                    @{
                        foreach (T_QT_Other item in lst)
                        {
                            if (item.Id == staticId)
                            {
                                //类型转换
                                DateTime cBStTime = (DateTime)@item.CBStTime;
                                String cbStTime = string.Format("{0:yyyy/MM/dd}", cBStTime);
                                DateTime cBEnTime = (DateTime)@item.CBEnTime;
                                String cbEnTime = string.Format("{0:yyyy/MM/dd}", cBEnTime);
                                <div class="form-group">
                                    <label for="exampleInputName2">起始时间：</label>
                                    <input type="hidden"id="Id" name="Id" value="@item.Id" />
                                    <div class='input-group date' id='form_datetime5' style="width:300px">
                                        <input type='text'id="CBStTime" class="form-control"name="CBStTime" value="@cbStTime" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>  
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail2">截止时间：</label>
                                    <div class='input-group date' id='form_datetime6' style="width:300px">
                                        <input type='text' id="CBEnTime" class="form-control"name="CBEnTime" value="@cbEnTime" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>  
                                </div>
                            }
                        }
                    }
                    
                    <button type="submit" class="btn btn-default" onclick="result3(this)">提交</button>
                </form>
                
            </li>
            
        </ul>
    </div>
</div>

@section javascript{

<script>
    function  result1(obj) {
        var blStTime = $("#BIStTime").val();
        var blEnTime = $("#BIEnTime").val();

        //类型转换
        var a = [];
        var b = [];
        a = blStTime.split("/");
        b = blEnTime.split("/");
        var str1 = a.join("");
        var str2 = b.join("");
        var temp1 = parseInt(str1);
        var temp2 = parseInt(str2);
        if (temp2 >= temp1)
            alert("修改成功！")
        else {
            alert("修改失败！请重新设置时间！")
           // $("#BIStTime").reset("2017/01/01");
           // $("#BIEnTime").reset("2017/07/01");
           // $.post("/TBsys/TeachingOffice/editBITime",
           //{
           //    "Id": Id,
           //    "BIStTime": BIStTime,
           //    "BIEnTime": BIEnTime
           //});            
            
        }
    }
    function result2(obj) {
        var ckStTime = $("#CKStTime").val();
        var ckEnTime = $("#CKEnTime").val();

        //类型转换
        var a = [];
        var b = [];
        a = ckStTime.split("/");
        b = ckEnTime.split("/");
        var str1 = a.join("");
        var str2 = b.join("");
        var temp1 = parseInt(str1);
        var temp2 = parseInt(str2);
        if (temp2 >= temp1)
            alert("修改成功！")
        else {
            alert("修改失败！请重新设置时间！")
        }
    }
    function result3(obj) {
        var cbStTime = $("#CBStTime").val();
        var cbEnTime = $("#CBEnTime").val();

        //类型转换
        var a = [];
        var b = [];
        a = cbStTime.split("/");
        b = cbEnTime.split("/");
        var str1 = a.join("");
        var str2 = b.join("");
        var temp1 = parseInt(str1);
        var temp2 = parseInt(str2);
        if (temp2 >= temp1)
            alert("修改成功！")
        else {
            alert("修改失败！请重新设置时间！")
        }
    }
    $('#form_datetime').datetimepicker({
        minView: "month", //选择日期后，不会再跳转去选择时分秒 
        language: 'zh-CN',
        format: 'yyyy/mm/dd',
        todayBtn: 1,
        autoclose: 1,
    });
    $('#form_datetime2').datetimepicker({
        minView: "month", //选择日期后，不会再跳转去选择时分秒 
        language: 'zh-CN',
        format: 'yyyy/mm/dd',
        todayBtn: 1,
        autoclose: 1,
    });
    $('#form_datetime3').datetimepicker({
        minView: "month", //选择日期后，不会再跳转去选择时分秒 
        language: 'zh-CN',
        format: 'yyyy/mm/dd',
        todayBtn: 1,
        autoclose: 1,
    });
    $('#form_datetime4').datetimepicker({
        minView: "month", //选择日期后，不会再跳转去选择时分秒 
        language: 'zh-CN',
        format: 'yyyy/mm/dd',
        todayBtn: 1,
        autoclose: 1,
    });
    $('#form_datetime5').datetimepicker({
        minView: "month", //选择日期后，不会再跳转去选择时分秒 
        language: 'zh-CN',
        format: 'yyyy/mm/dd',
        todayBtn: 1,
        autoclose: 1,
    });
    $('#form_datetime6').datetimepicker({
        minView: "month", //选择日期后，不会再跳转去选择时分秒 
        language: 'zh-CN',
        format: 'yyyy/mm/dd',
        todayBtn: 1,
        autoclose: 1,
    });
</script>
}



